* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

:root {
  --bg: #fcf9f2;
  --primary-color: #ff3962;
  --secondary-color: #513e3e;
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
}
